
#top-banner{
    height: 100vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sections{
    padding-top: 64px;
    margin: 16px 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#project-list-container {
    position: relative;
    box-sizing: border-box;
    border-radius: 16px;
    border: 4px solid black;
    justify-content: flex-start;
    height: 612px;


    padding: 32px 8px;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#project-list-container::-webkit-scrollbar{
    width: 5px;
}

#project-list-container::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 16px;
}

.project-item{

    display: flex;
    width: 250px;
    height: 250px;
    padding: 0;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

}

.project-item-content{
    position: absolute;
    box-sizing: border-box;
    padding: 8px;
    border: 4px solid black;
    transition: height .5s, width .5s;
    border-radius: 16px;
    background-color: white;
    width: 240px;
    height: 240px;
    z-index: 0;
}
.project-item-content:hover{

    z-index: 1;
    width: 300px;
    height: 300px;
}

.project-item-content-text{
    overflow: hidden;

    justify-content: center;
}

.project-item-content-text *{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-item-content-text h1 {
    font-size: 20px;
    font-weight: bold;
    min-height: 32px;
    white-space: nowrap;
    margin-bottom: 8px;
}

.project-item-content-links{
    box-sizing: border-box;
    padding-top: 8px;
    min-height: fit-content;
    justify-content: space-evenly;
    margin-top: auto;
    align-self: flex-end;
}

.project-item-content-links * {
    margin: 0 2px;
    height: 32px;
}

.project-item-extlink{
    width: 32px;
}

.project-item-more{
    border-radius: 4px;
    background-color: #57F287;
    line-height: 32px;
    color: black;

}

.project-item-content-links a img {
    flex-grow: 1;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    background-color: white;
}


.project-item-more:hover{
    background-color: #aFa;
}

.project-item-more:active{
    background-color: black;
}

#contact a{
    color: black;
}


#socials div{
    justify-content: center;
}

#socials div a{
    width: fit-content;
}

#socials div a img {
    width: 40px;
    margin: 0 16px;

}

a img[disabled]{
    opacity: 20%;
}