
#bg-vid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  filter: opacity(30%);
  pointer-events: none;
}

#home-header {
  position: sticky;
  top: var(--topNavHeight);

  width: 100vw;
  height: calc(100vh - var(--topNavHeight));
  padding-bottom: var(--topNavHeight);
  box-sizing: border-box;
  --scroll-scaling: calc(1 / (var(--scroll-top) / 1000 + 1))
}


#header-text {
  font-family: "Poppins";
  font-weight: 900;
  transform: scale(var(--scroll-scaling));
  opacity: calc(var(--scroll-scaling));
}

#header-text h1 {
  letter-spacing: 10px;
  position: relative;
  left: -1rem;
  margin: 0.6em;
}

#header-text h2, h3, h4, h5, h6 {
  letter-spacing: 0.12em;
  position: relative;
  margin: 0.1em;
}


#header-links {
  display: flex;
  position: absolute;
  top: calc(50% + min(20vh, 128px));
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 32px;
  transform: scale(var(--scroll-scaling));
  opacity: var(--scroll-scaling);
}

#header-links a {
  color: white;
  cursor: pointer;
}


#about {
  line-height: 1.6em;
  font-size: 1.05rem;
  height: fit-content;
  padding: 6em 0;
  gap: 1.5em;
  white-space: nowrap;
}

#about h2 {
  letter-spacing: 2px;
  position: relative;

  margin-bottom: 1em;
}


#about * {
  margin: 0;
}


#skills {
  display: flex;
  justify-content: center;
  gap: min(4vw, 100px);
  padding: 0 1rem;
}

#skills-text-ctn {
  position: sticky;
  top: calc(50vh - min(50vw, 100px));
  height: fit-content;
  background: rgba(var(--radialColor), 255);
  width: max(50%, 100px);
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#skills-text {
  white-space: nowrap;
  word-break: break-all;
}


#skills-list {
  //margin-top: 50vh;
  height: fit-content;
  padding: 0;
  list-style: none;
  width: 50%;
  gap: 4rem;
  font-size: 1.5rem;
  flex-shrink: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

.skills-list-item {
  display: flex;

  align-items: center;
  justify-content: center;
  width: min(100%, calc(400px + 1em));

  box-sizing: border-box;
  position: sticky;
  top: calc((50vh - var(--topNavHeightStickied)) - 50vmin * (3 / 8));


  padding: 1em;


  & > .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 50vmin;
    border: 4px solid var(--radialColor);

    border-radius: 1em;
    padding: 1em 15%;

    box-sizing: border-box;
    aspect-ratio: 6/8;
    background: var(--backgroundColor);
    filter: drop-shadow(2px -3px 0.5em black);
  }
}

.skills-list-item img {
  aspect-ratio: 1;
}

.skills-list-item p {
  cursor: pointer;
  white-space: break-spaces;
}

.skills-list-item * {
  margin: 0;
}

#projects {
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: var(--topNavHeightStickied);
  min-height: 100vh;
  height: fit-content;

  & > h2 {
    letter-spacing: 2px;

    position: sticky;
    top: var(--topNavHeightStickied);
    mix-blend-mode: difference;
    z-index: 100;

  }

  &>ul{
    list-style-type: none;
    width: min(100%,var(--max-width));
  }

  .featuredProject-item{

    min-height: calc(84vh - var(--topNavHeightStickied));
    max-height: fit-content;
    width: 100%;
    border: 0.1em solid var(--h-color);

    border-right: none;
    border-top: none;
    box-sizing: border-box;
    margin-bottom: 3em;
    padding: 1em 2em;
    padding-right: 0;


    & > .project-details{
      min-height: 100%;

      width: 50%;
      padding-right: 1em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      & > p{

        font-size: 1.2em;
        letter-spacing: 0.08rem;
        white-space: break-spaces;
        font-weight: 300;
      }

      h3{
        font-size: 3em;
        margin-left: 0;
        overflow: hidden;
        height: fit-content;

        letter-spacing: 0.2rem;
        white-space: pre-wrap;
        overflow-wrap: anywhere;

      }

      .project-links{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-top: auto;
        margin-bottom: 2rem;
        min-height: 6em;
        justify-self: flex-end;
        gap: 0.1em 1em;
        flex-wrap: wrap;
        li{
          flex-shrink: 0;
          height: fit-content;
          a{
            --color:var(--h-color);
            --fill-text-color:black;

            padding: 0.25rem 1rem;
            padding-right: 1.25rem;
            height: 2rem;
            border: 1px solid var(--color);
            border-radius: 100rem;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-weight: 500;
            transition: all 400ms ease;
            color: var(--color);

            .icon{
              font-size: 1.25em;
              font-weight: 500;
            }

            &:hover, &[data-filled="true"]{
              color: var(--fill-text-color);
              background: var(--color);

            }
          }
        }
      }
      .project-skills{
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 0.5em;
        font-size: 1em;

        font-weight: 700;

        li{
          color: transparent;
          transition: background-position 200ms ease;

          background-size: 200% 100%;
          background-image: linear-gradient(90deg, var(--h-color)0%,var(--h-color)50%,var(--radialColor)50%);
          background-clip: text;
          -webkit-background-clip: text;
          cursor: default;
          text-transform: capitalize;

          &:hover{
            background-position-x: 100%;
          }
        }

      }
    }

    &>.project-image{
      height: auto;
      width: 50%;
      float: left;
      margin-bottom: 1.5em;
      border-radius: 0.5rem;

    }
    & > .project-image > img{

      transition: transform 200ms ease;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & > .project-image > video{


      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    & > .project-image:hover > img{

      transform: scale(105%);
    }

  }
}
