
#bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: opacity(30%);
}

#home-header {
    position: sticky;
    top: var(--topNavHeight);

    width: 100vw;
    height: calc(100vh - var(--topNavHeight));
    padding-bottom: var(--topNavHeight);
    box-sizing: border-box;
}


#header-text {
    font-family: "Poppins";
    font-weight: 900;
}

#header-text h1 {
    letter-spacing: 10px;
    position: relative;
    left: -1rem
}

#header-text h2 {
    letter-spacing: 3px;
    position: relative;
    /*left:-1rem*/
    /*line-height: 32px;*/
}

#header-links {
    display: flex;
    position: absolute;
    top: calc(50% + 128px);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 32px;
}

#header-links a {
    color: white;
    cursor: pointer;
}


#about {
    line-height: 1.6em;
    font-size: 1.05rem;
    height: fit-content;
    padding: 6em 0;
    gap: 1.5em;

}

#about h2 {
    letter-spacing: 2px;
    position: relative;
    left: .6em;
    margin-bottom: 1em;
}


#about * {
    margin: 0;
}



#skills {
    display: flex;
    justify-content: center;
    gap: min(4vw,100px);
    padding: 0 1rem;
}

#skills-text-ctn {
    position: sticky;
    top: 0;

    height: 100vh;

    background: rgba(var(--radialColor), 255);
    width: max(50%,200px);
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

#skills-list {
    //margin-top: 50vh;
    height: fit-content;
    padding: 0;
    list-style: none;
    width: 50%;
    gap: 1rem;
    font-size: 1.5rem;
    flex-shrink: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.skills-list-item{
    display: flex;

    align-items: center;
    justify-content: center;
    width: min(100%,calc(400px + 1em));

    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 1em;

    &>.container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        width: 100%;
        border: 2px solid var(--radialColor);

        border-radius: 1em;
        padding: 1em;
        box-sizing: border-box;
        aspect-ratio: 6/8;
        background: var(--backgroundColor);

    }
}

.skills-list-item img{
    width: min(100%,200px);
}
.skills-list-item p {
    cursor: pointer;
    white-space: break-spaces;
}
.skills-list-item *{
    margin: 0;
}
