
#bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: opacity(30%);
}

#home-header {
    position: sticky;
    top: var(--topNavHeight);

    width: 100vw;
    height: calc(100vh - var(--topNavHeight));
    padding-bottom: var(--topNavHeight);
    box-sizing: border-box;
}


#header-text {
    font-family: "Poppins";
    font-weight: 900;
}

#header-text h1 {
    letter-spacing: 10px;
    position: relative;
    left: -1rem
}

#header-text h2 {
    letter-spacing: 3px;
    position: relative;
    /*left:-1rem*/
    /*line-height: 32px;*/
}

#header-links {
    display: flex;
    position: absolute;
    top: calc(50% + 128px);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 32px;
}

#header-links a {
    color: white;
    cursor: pointer;
}


#about {
    line-height: 1.6em;
    font-size: 1.05rem;
    height: fit-content;
    padding: 6em 0;
    gap: 1.5em;

}

#about h2 {
    letter-spacing: 2px;
    position: relative;
    left: .6em;
    margin-bottom: 1em;
}


#about * {
    margin: 0;
}



#skills {
    display: flex;
    justify-content: center;
    gap: min(2rem,100px);
    padding: 4rem 1rem;
}

#skills-text-ctn {
    position: sticky;
    /*top: var(--topNavHeight);*/
    top: 40%;
    height: fit-content;
    width: min(50%, 500px);
    background: rgba(var(--radialColor), 255);

}

#skills-list {
    width: min(50%,400px);
    height: fit-content;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;

}

.skills-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.skills-list-item img{
    width: 50%;
}
.skills-list-item p {
    cursor: pointer;
    white-space: break-spaces;
}
.skills-list-item *{
    margin: 0;
}
