@theme {
    --animate-float: float 3s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    --animate-marquee: marquee 20s linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-50%);
        }
    }
}