@import "tailwindcss";
@import "./rainbow.css";
@import "./fonts.css";
@plugin '@tailwindcss/typography';

:root {
    --nav-height: 12;
    --nav-offset: 2;


    --nav-height-units: calc(var(--nav-height) * var(--spacing));
    --nav-offset-units: calc(var(--nav-offset) * var(--spacing));
    --nav-total-h-units: calc(var(--nav-height-units) + calc(var(--nav-offset-units) * 2));

    /* Alias for --nav-total-h-units*/
    --header-spacing: var(--nav-total-h-units);

    /* ----- Theme Colors ----- */

    /* Background color */
    --background: var(--color-neutral-950);
    --background-highlight: var(--color-neutral-800);
    --background-hover: var(--color-neutral-900);

    --active: var(--color-neutral-800);

    /* Color for panels / card */
    --panel: var(--color-neutral-900);

    /* Color for text foreground */
    --fore: var(--color-stone-300);

    /* Color for sub-text (i.e descriptions) foreground */
    --sub: var(--color-stone-400);

    /* Dimmed color for text*/
    --dimmed: var(--color-stone-500);

    --inactive: var(--color-neutral-800);
    --primary: var(--color-rosewater);
    --accent: var(--color-rosewater);
    --bright: var(--color-white);
    --danger: var(--color-red-500);
    --border-color: var(--color-neutral-700);

    --mdcode: var(--color-crust);
}

@theme inline {

    --color-rosewater: #f5e0dc;
    --color-crust: #111;

    --font-fancy: "Silkscreen";
    --font-poppins: "Poppins";



    /* ----- Theme Colors ----- */

    /* Background color */
    --color-background: var(--background);
    --color-highlight: var(--background-highlight);
    --color-hover: var(--background-hover);
    --color-panel: var(--panel);
    --color-fg: var(--fore);
    --color-sub: var(--sub);
    --color-dimmed: var(--dimmed);
    --color-inactive: var(--inactive);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-bright: var(--bright);
    --color-danger: var(--danger);
    --color-border: var(--border-color);
    --color-mdcode: var(--mdcode);
    --color-mdlink: var(--color-accent);
}



@layer base {
    * {
        transition: all 200ms ease;
        scroll-behavior: smooth;
    }

    html {
        @apply text-fg;
    }

    body {
        @apply bg-background;
    }

    @media screen and (max-width: 555px) {
        :root {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 520px) {
        :root {
            font-size: 0.75rem;
        }
    }

    @media screen and (max-width: 510px) {
        :root {
            font-size: 0.7rem;
        }
    }

    @media screen and (max-width: 400px) {
        :root {
            font-size: 0.65rem;
        }
    }

}


@layer utilities {

    /**
    * Styles for markdown. Apply this class to the parent element containing the rendered html code for markdown.
    * This class uses tailwind's typography prose class as a base.
    * Changes:
    *  1. All margins are reduced
    *  2. <code> blocks & inline have their quotes removed + Changes to background
    */
    .markdown {
        @apply prose prose-invert max-w-none;


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0.5em;

        }

        :not(pre)>code,
        pre {
            @apply rounded-sm !bg-mdcode;
            outline: 1px solid rgba(255, 255, 255, 0.1);
        }

        :not(pre)>code {
            padding: 0.1rem 0.25rem;
        }

        code::before,
        code::after {
            content: "";
        }

        p {
            margin: 0.4em 0;
        }

        p+p {
            margin: 0.8em 0;
        }

        h1 {
            font-size: 2em;
        }

        li {
            margin: 0 !important;
        }

        ol,
        ul {
            margin: 1em 0;
        }

        li>p,
        li>ul,
        li>ol {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        *:has(>.icon.remark-icon-directive) {
            display: inline;
        }

        .icon.remark-icon-directive {
            display: inline-block;
            width: 1em;
            height: 100%;
            margin: 0 0.2em;
        }


        .icon.remark-icon-directive>img {
            display: inline-block;
            margin: 0;
            position: relative;
            bottom: 0.05em;
            height: 100%;
            width: 100%;
        }
    }


    /* 
     * "Collapse" this element in mobile / vertical mode.
     */
    @media screen and (max-width: 700px) {
        *.mobile-collapse[class] {
            display: none;
        }
    }

    /*
    * Total height of the nav header. Useful for applying to spacers
    */
    .nav-h {
        height: var(--nav-total-h-units);
    }

    .font-fancy {
        letter-spacing: -1.5px;
    }

    .glow {
        filter: drop-shadow(0 0 48px #fff);
    }

    .glow-dark {
        filter: drop-shadow(0 0 48px #000);
    }


    .acrylic {
        background: rgba(255, 255, 255, 0.1);
        /* Semi-transparent white */
        backdrop-filter: blur(10px);
        /* Blurs the background */
        -webkit-backdrop-filter: blur(10px);
        /* For Safari support */
        border: 1px solid rgba(255, 255, 255, 0.05);
        /* Subtle border */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        /* Soft shadow for depth */

    }

    .badge {
        @apply flex items-center justify-center font-mono font-semibold bg-panel;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        padding-left: 0.25rem;
        padding-right: 0.4rem;
        gap: 0.25rem;
    }

    .featured-badge.badge {
        @apply bg-background;
        color: var(--color-rainbow);
        border-color: var(--color-rainbow);
        /* border-color: hsl(var(--rainbow-value), 100%, 5%); */

    }
}