@import "tailwindcss";
@import "./rainbow.css";
@import "@fontsource/tiny5";

@theme {
    
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;
    --color-fg: #cdd6f4;
    --color-fg-sub1: #bac2de;
    --color-fg-sub: #a6adc8;
    --color-bg-overlay2: #9399b2;
    --color-bg-overlay1: #7f849c;
    --color-bg-overlay: #6c7086;
    --color-bg-surf2: #585b70;
    --color-bg-surf1: #45475a;
    --color-bg-surf0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;


    --color-primary: var(--color-rosewater);
    --color-accent: var(--color-rosewater);
    --color-secondary: var(--color-crust);
    --font-fancy: "Tiny5"
    
}



@layer base{
    html{
        @apply text-fg;
    }

    body{
        @apply bg-base
    }
}


