


@property --rainbow-value {
    syntax: "color";
    inherits: true;
}

@theme {

    --rainbow-value: 0;
    --color-rainbow: hsl(var(--rainbow-value), 100%, 80%);
}

@layer base {
    html {
        animation: rainbow-anim 8s linear;
        animation-iteration-count: infinite;
    }
}
@keyframes rainbow-anim {
    0.0% { --rainbow-value: 0.0; }
    0.1% { --rainbow-value: 0.36; }
    0.2% { --rainbow-value: 0.72; }
    0.3% { --rainbow-value: 1.08; }
    0.4% { --rainbow-value: 1.44; }
    0.5% { --rainbow-value: 1.7999999999999998; }
    0.6% { --rainbow-value: 2.16; }
    0.7% { --rainbow-value: 2.52; }
    0.8% { --rainbow-value: 2.88; }
    0.9% { --rainbow-value: 3.2399999999999998; }
    1.0% { --rainbow-value: 3.5999999999999996; }
    1.1% { --rainbow-value: 3.96; }
    1.2% { --rainbow-value: 4.32; }
    1.3% { --rainbow-value: 4.68; }
    1.4% { --rainbow-value: 5.04; }
    1.5% { --rainbow-value: 5.3999999999999995; }
    1.6% { --rainbow-value: 5.76; }
    1.7% { --rainbow-value: 6.12; }
    1.8% { --rainbow-value: 6.4799999999999995; }
    1.9% { --rainbow-value: 6.84; }
    2.0% { --rainbow-value: 7.199999999999999; }
    2.1% { --rainbow-value: 7.56; }
    2.2% { --rainbow-value: 7.92; }
    2.3% { --rainbow-value: 8.28; }
    2.4% { --rainbow-value: 8.64; }
    2.5% { --rainbow-value: 9.0; }
    2.6% { --rainbow-value: 9.36; }
    2.7% { --rainbow-value: 9.719999999999999; }
    2.8% { --rainbow-value: 10.08; }
    2.9% { --rainbow-value: 10.44; }
    3.0% { --rainbow-value: 10.799999999999999; }
    3.1% { --rainbow-value: 11.16; }
    3.2% { --rainbow-value: 11.52; }
    3.3% { --rainbow-value: 11.879999999999999; }
    3.4% { --rainbow-value: 12.24; }
    3.5% { --rainbow-value: 12.6; }
    3.6% { --rainbow-value: 12.959999999999999; }
    3.7% { --rainbow-value: 13.32; }
    3.8% { --rainbow-value: 13.68; }
    3.9% { --rainbow-value: 14.04; }
    4.0% { --rainbow-value: 14.399999999999999; }
    4.1% { --rainbow-value: 14.76; }
    4.2% { --rainbow-value: 15.12; }
    4.3% { --rainbow-value: 15.479999999999999; }
    4.4% { --rainbow-value: 15.84; }
    4.5% { --rainbow-value: 16.2; }
    4.6% { --rainbow-value: 16.56; }
    4.7% { --rainbow-value: 16.919999999999998; }
    4.8% { --rainbow-value: 17.28; }
    4.9% { --rainbow-value: 17.64; }
    5.0% { --rainbow-value: 18.0; }
    5.1% { --rainbow-value: 18.36; }
    5.2% { --rainbow-value: 18.72; }
    5.3% { --rainbow-value: 19.08; }
    5.4% { --rainbow-value: 19.439999999999998; }
    5.5% { --rainbow-value: 19.8; }
    5.6% { --rainbow-value: 20.16; }
    5.7% { --rainbow-value: 20.52; }
    5.8% { --rainbow-value: 20.88; }
    5.9% { --rainbow-value: 21.24; }
    6.0% { --rainbow-value: 21.599999999999998; }
    6.1% { --rainbow-value: 21.96; }
    6.2% { --rainbow-value: 22.32; }
    6.3% { --rainbow-value: 22.68; }
    6.4% { --rainbow-value: 23.04; }
    6.5% { --rainbow-value: 23.4; }
    6.6% { --rainbow-value: 23.759999999999998; }
    6.7% { --rainbow-value: 24.119999999999997; }
    6.8% { --rainbow-value: 24.48; }
    6.9% { --rainbow-value: 24.84; }
    7.0% { --rainbow-value: 25.2; }
    7.1% { --rainbow-value: 25.56; }
    7.2% { --rainbow-value: 25.919999999999998; }
    7.3% { --rainbow-value: 26.279999999999998; }
    7.4% { --rainbow-value: 26.64; }
    7.5% { --rainbow-value: 27.0; }
    7.6% { --rainbow-value: 27.36; }
    7.7% { --rainbow-value: 27.72; }
    7.8% { --rainbow-value: 28.08; }
    7.9% { --rainbow-value: 28.439999999999998; }
    8.0% { --rainbow-value: 28.799999999999997; }
    8.1% { --rainbow-value: 29.16; }
    8.2% { --rainbow-value: 29.52; }
    8.3% { --rainbow-value: 29.88; }
    8.4% { --rainbow-value: 30.24; }
    8.5% { --rainbow-value: 30.599999999999998; }
    8.6% { --rainbow-value: 30.959999999999997; }
    8.7% { --rainbow-value: 31.32; }
    8.8% { --rainbow-value: 31.68; }
    8.9% { --rainbow-value: 32.04; }
    9.0% { --rainbow-value: 32.4; }
    9.1% { --rainbow-value: 32.76; }
    9.2% { --rainbow-value: 33.12; }
    9.3% { --rainbow-value: 33.48; }
    9.4% { --rainbow-value: 33.839999999999996; }
    9.5% { --rainbow-value: 34.199999999999996; }
    9.6% { --rainbow-value: 34.56; }
    9.7% { --rainbow-value: 34.92; }
    9.8% { --rainbow-value: 35.28; }
    9.9% { --rainbow-value: 35.64; }
    10.0% { --rainbow-value: 36.0; }
    10.1% { --rainbow-value: 36.36; }
    10.2% { --rainbow-value: 36.72; }
    10.3% { --rainbow-value: 37.08; }
    10.4% { --rainbow-value: 37.44; }
    10.5% { --rainbow-value: 37.8; }
    10.6% { --rainbow-value: 38.16; }
    10.7% { --rainbow-value: 38.519999999999996; }
    10.8% { --rainbow-value: 38.879999999999995; }
    10.9% { --rainbow-value: 39.24; }
    11.0% { --rainbow-value: 39.6; }
    11.1% { --rainbow-value: 39.96; }
    11.2% { --rainbow-value: 40.32; }
    11.3% { --rainbow-value: 40.68; }
    11.4% { --rainbow-value: 41.04; }
    11.5% { --rainbow-value: 41.4; }
    11.6% { --rainbow-value: 41.76; }
    11.7% { --rainbow-value: 42.12; }
    11.8% { --rainbow-value: 42.48; }
    11.9% { --rainbow-value: 42.839999999999996; }
    12.0% { --rainbow-value: 43.199999999999996; }
    12.1% { --rainbow-value: 43.559999999999995; }
    12.2% { --rainbow-value: 43.92; }
    12.3% { --rainbow-value: 44.28; }
    12.4% { --rainbow-value: 44.64; }
    12.5% { --rainbow-value: 45.0; }
    12.6% { --rainbow-value: 45.36; }
    12.7% { --rainbow-value: 45.72; }
    12.8% { --rainbow-value: 46.08; }
    12.9% { --rainbow-value: 46.44; }
    13.0% { --rainbow-value: 46.8; }
    13.1% { --rainbow-value: 47.16; }
    13.2% { --rainbow-value: 47.519999999999996; }
    13.3% { --rainbow-value: 47.879999999999995; }
    13.4% { --rainbow-value: 48.239999999999995; }
    13.5% { --rainbow-value: 48.6; }
    13.6% { --rainbow-value: 48.96; }
    13.7% { --rainbow-value: 49.32; }
    13.8% { --rainbow-value: 49.68; }
    13.9% { --rainbow-value: 50.04; }
    14.0% { --rainbow-value: 50.4; }
    14.1% { --rainbow-value: 50.76; }
    14.2% { --rainbow-value: 51.12; }
    14.3% { --rainbow-value: 51.48; }
    14.4% { --rainbow-value: 51.839999999999996; }
    14.5% { --rainbow-value: 52.199999999999996; }
    14.6% { --rainbow-value: 52.559999999999995; }
    14.7% { --rainbow-value: 52.919999999999995; }
    14.8% { --rainbow-value: 53.28; }
    14.9% { --rainbow-value: 53.64; }
    15.0% { --rainbow-value: 54.0; }
    15.1% { --rainbow-value: 54.36; }
    15.2% { --rainbow-value: 54.72; }
    15.3% { --rainbow-value: 55.08; }
    15.4% { --rainbow-value: 55.44; }
    15.5% { --rainbow-value: 55.8; }
    15.6% { --rainbow-value: 56.16; }
    15.7% { --rainbow-value: 56.519999999999996; }
    15.8% { --rainbow-value: 56.879999999999995; }
    15.9% { --rainbow-value: 57.239999999999995; }
    16.0% { --rainbow-value: 57.599999999999994; }
    16.1% { --rainbow-value: 57.96; }
    16.2% { --rainbow-value: 58.32; }
    16.3% { --rainbow-value: 58.68; }
    16.4% { --rainbow-value: 59.04; }
    16.5% { --rainbow-value: 59.4; }
    16.6% { --rainbow-value: 59.76; }
    16.7% { --rainbow-value: 60.12; }
    16.8% { --rainbow-value: 60.48; }
    16.9% { --rainbow-value: 60.839999999999996; }
    17.0% { --rainbow-value: 61.199999999999996; }
    17.1% { --rainbow-value: 61.559999999999995; }
    17.2% { --rainbow-value: 61.919999999999995; }
    17.3% { --rainbow-value: 62.28; }
    17.4% { --rainbow-value: 62.64; }
    17.5% { --rainbow-value: 63.0; }
    17.6% { --rainbow-value: 63.36; }
    17.7% { --rainbow-value: 63.72; }
    17.8% { --rainbow-value: 64.08; }
    17.9% { --rainbow-value: 64.44; }
    18.0% { --rainbow-value: 64.8; }
    18.1% { --rainbow-value: 65.16; }
    18.2% { --rainbow-value: 65.52; }
    18.3% { --rainbow-value: 65.88; }
    18.4% { --rainbow-value: 66.24; }
    18.5% { --rainbow-value: 66.6; }
    18.6% { --rainbow-value: 66.96; }
    18.7% { --rainbow-value: 67.32; }
    18.8% { --rainbow-value: 67.67999999999999; }
    18.9% { --rainbow-value: 68.03999999999999; }
    19.0% { --rainbow-value: 68.39999999999999; }
    19.1% { --rainbow-value: 68.75999999999999; }
    19.2% { --rainbow-value: 69.12; }
    19.3% { --rainbow-value: 69.48; }
    19.4% { --rainbow-value: 69.84; }
    19.5% { --rainbow-value: 70.2; }
    19.6% { --rainbow-value: 70.56; }
    19.7% { --rainbow-value: 70.92; }
    19.8% { --rainbow-value: 71.28; }
    19.9% { --rainbow-value: 71.64; }
    20.0% { --rainbow-value: 72.0; }
    20.1% { --rainbow-value: 72.36; }
    20.2% { --rainbow-value: 72.72; }
    20.3% { --rainbow-value: 73.08; }
    20.4% { --rainbow-value: 73.44; }
    20.5% { --rainbow-value: 73.8; }
    20.6% { --rainbow-value: 74.16; }
    20.7% { --rainbow-value: 74.52; }
    20.8% { --rainbow-value: 74.88; }
    20.9% { --rainbow-value: 75.24; }
    21.0% { --rainbow-value: 75.6; }
    21.1% { --rainbow-value: 75.96; }
    21.2% { --rainbow-value: 76.32; }
    21.3% { --rainbow-value: 76.67999999999999; }
    21.4% { --rainbow-value: 77.03999999999999; }
    21.5% { --rainbow-value: 77.39999999999999; }
    21.6% { --rainbow-value: 77.75999999999999; }
    21.7% { --rainbow-value: 78.11999999999999; }
    21.8% { --rainbow-value: 78.48; }
    21.9% { --rainbow-value: 78.84; }
    22.0% { --rainbow-value: 79.2; }
    22.1% { --rainbow-value: 79.56; }
    22.2% { --rainbow-value: 79.92; }
    22.3% { --rainbow-value: 80.28; }
    22.4% { --rainbow-value: 80.64; }
    22.5% { --rainbow-value: 81.0; }
    22.6% { --rainbow-value: 81.36; }
    22.7% { --rainbow-value: 81.72; }
    22.8% { --rainbow-value: 82.08; }
    22.9% { --rainbow-value: 82.44; }
    23.0% { --rainbow-value: 82.8; }
    23.1% { --rainbow-value: 83.16; }
    23.2% { --rainbow-value: 83.52; }
    23.3% { --rainbow-value: 83.88; }
    23.4% { --rainbow-value: 84.24; }
    23.5% { --rainbow-value: 84.6; }
    23.6% { --rainbow-value: 84.96; }
    23.7% { --rainbow-value: 85.32; }
    23.8% { --rainbow-value: 85.67999999999999; }
    23.9% { --rainbow-value: 86.03999999999999; }
    24.0% { --rainbow-value: 86.39999999999999; }
    24.1% { --rainbow-value: 86.75999999999999; }
    24.2% { --rainbow-value: 87.11999999999999; }
    24.3% { --rainbow-value: 87.47999999999999; }
    24.4% { --rainbow-value: 87.84; }
    24.5% { --rainbow-value: 88.2; }
    24.6% { --rainbow-value: 88.56; }
    24.7% { --rainbow-value: 88.92; }
    24.8% { --rainbow-value: 89.28; }
    24.9% { --rainbow-value: 89.64; }
    25.0% { --rainbow-value: 90.0; }
    25.1% { --rainbow-value: 90.36; }
    25.2% { --rainbow-value: 90.72; }
    25.3% { --rainbow-value: 91.08; }
    25.4% { --rainbow-value: 91.44; }
    25.5% { --rainbow-value: 91.8; }
    25.6% { --rainbow-value: 92.16; }
    25.7% { --rainbow-value: 92.52; }
    25.8% { --rainbow-value: 92.88; }
    25.9% { --rainbow-value: 93.24; }
    26.0% { --rainbow-value: 93.6; }
    26.1% { --rainbow-value: 93.96; }
    26.2% { --rainbow-value: 94.32; }
    26.3% { --rainbow-value: 94.67999999999999; }
    26.4% { --rainbow-value: 95.03999999999999; }
    26.5% { --rainbow-value: 95.39999999999999; }
    26.6% { --rainbow-value: 95.75999999999999; }
    26.7% { --rainbow-value: 96.11999999999999; }
    26.8% { --rainbow-value: 96.47999999999999; }
    26.9% { --rainbow-value: 96.84; }
    27.0% { --rainbow-value: 97.2; }
    27.1% { --rainbow-value: 97.56; }
    27.2% { --rainbow-value: 97.92; }
    27.3% { --rainbow-value: 98.28; }
    27.4% { --rainbow-value: 98.64; }
    27.5% { --rainbow-value: 99.0; }
    27.6% { --rainbow-value: 99.36; }
    27.7% { --rainbow-value: 99.72; }
    27.8% { --rainbow-value: 100.08; }
    27.9% { --rainbow-value: 100.44; }
    28.0% { --rainbow-value: 100.8; }
    28.1% { --rainbow-value: 101.16; }
    28.2% { --rainbow-value: 101.52; }
    28.3% { --rainbow-value: 101.88; }
    28.4% { --rainbow-value: 102.24; }
    28.5% { --rainbow-value: 102.6; }
    28.6% { --rainbow-value: 102.96; }
    28.7% { --rainbow-value: 103.32; }
    28.8% { --rainbow-value: 103.67999999999999; }
    28.9% { --rainbow-value: 104.03999999999999; }
    29.0% { --rainbow-value: 104.39999999999999; }
    29.1% { --rainbow-value: 104.75999999999999; }
    29.2% { --rainbow-value: 105.11999999999999; }
    29.3% { --rainbow-value: 105.47999999999999; }
    29.4% { --rainbow-value: 105.83999999999999; }
    29.5% { --rainbow-value: 106.2; }
    29.6% { --rainbow-value: 106.56; }
    29.7% { --rainbow-value: 106.92; }
    29.8% { --rainbow-value: 107.28; }
    29.9% { --rainbow-value: 107.64; }
    30.0% { --rainbow-value: 108.0; }
    30.1% { --rainbow-value: 108.36; }
    30.2% { --rainbow-value: 108.72; }
    30.3% { --rainbow-value: 109.08; }
    30.4% { --rainbow-value: 109.44; }
    30.5% { --rainbow-value: 109.8; }
    30.6% { --rainbow-value: 110.16; }
    30.7% { --rainbow-value: 110.52; }
    30.8% { --rainbow-value: 110.88; }
    30.9% { --rainbow-value: 111.24; }
    31.0% { --rainbow-value: 111.6; }
    31.1% { --rainbow-value: 111.96; }
    31.2% { --rainbow-value: 112.32; }
    31.3% { --rainbow-value: 112.67999999999999; }
    31.4% { --rainbow-value: 113.03999999999999; }
    31.5% { --rainbow-value: 113.39999999999999; }
    31.6% { --rainbow-value: 113.75999999999999; }
    31.7% { --rainbow-value: 114.11999999999999; }
    31.8% { --rainbow-value: 114.47999999999999; }
    31.9% { --rainbow-value: 114.83999999999999; }
    32.0% { --rainbow-value: 115.19999999999999; }
    32.1% { --rainbow-value: 115.56; }
    32.2% { --rainbow-value: 115.92; }
    32.3% { --rainbow-value: 116.28; }
    32.4% { --rainbow-value: 116.64; }
    32.5% { --rainbow-value: 117.0; }
    32.6% { --rainbow-value: 117.36; }
    32.7% { --rainbow-value: 117.72; }
    32.8% { --rainbow-value: 118.08; }
    32.9% { --rainbow-value: 118.44; }
    33.0% { --rainbow-value: 118.8; }
    33.1% { --rainbow-value: 119.16; }
    33.2% { --rainbow-value: 119.52; }
    33.3% { --rainbow-value: 119.88; }
    33.4% { --rainbow-value: 120.24; }
    33.5% { --rainbow-value: 120.6; }
    33.6% { --rainbow-value: 120.96; }
    33.7% { --rainbow-value: 121.32; }
    33.8% { --rainbow-value: 121.67999999999999; }
    33.9% { --rainbow-value: 122.03999999999999; }
    34.0% { --rainbow-value: 122.39999999999999; }
    34.1% { --rainbow-value: 122.75999999999999; }
    34.2% { --rainbow-value: 123.11999999999999; }
    34.3% { --rainbow-value: 123.47999999999999; }
    34.4% { --rainbow-value: 123.83999999999999; }
    34.5% { --rainbow-value: 124.19999999999999; }
    34.6% { --rainbow-value: 124.56; }
    34.7% { --rainbow-value: 124.92; }
    34.8% { --rainbow-value: 125.28; }
    34.9% { --rainbow-value: 125.64; }
    35.0% { --rainbow-value: 126.0; }
    35.1% { --rainbow-value: 126.36; }
    35.2% { --rainbow-value: 126.72; }
    35.3% { --rainbow-value: 127.08; }
    35.4% { --rainbow-value: 127.44; }
    35.5% { --rainbow-value: 127.8; }
    35.6% { --rainbow-value: 128.16; }
    35.7% { --rainbow-value: 128.51999999999998; }
    35.8% { --rainbow-value: 128.88; }
    35.9% { --rainbow-value: 129.24; }
    36.0% { --rainbow-value: 129.6; }
    36.1% { --rainbow-value: 129.96; }
    36.2% { --rainbow-value: 130.32; }
    36.3% { --rainbow-value: 130.68; }
    36.4% { --rainbow-value: 131.04; }
    36.5% { --rainbow-value: 131.4; }
    36.6% { --rainbow-value: 131.76; }
    36.7% { --rainbow-value: 132.12; }
    36.8% { --rainbow-value: 132.48; }
    36.9% { --rainbow-value: 132.84; }
    37.0% { --rainbow-value: 133.2; }
    37.1% { --rainbow-value: 133.56; }
    37.2% { --rainbow-value: 133.92; }
    37.3% { --rainbow-value: 134.28; }
    37.4% { --rainbow-value: 134.64; }
    37.5% { --rainbow-value: 135.0; }
    37.6% { --rainbow-value: 135.35999999999999; }
    37.7% { --rainbow-value: 135.72; }
    37.8% { --rainbow-value: 136.07999999999998; }
    37.9% { --rainbow-value: 136.44; }
    38.0% { --rainbow-value: 136.79999999999998; }
    38.1% { --rainbow-value: 137.16; }
    38.2% { --rainbow-value: 137.51999999999998; }
    38.3% { --rainbow-value: 137.88; }
    38.4% { --rainbow-value: 138.24; }
    38.5% { --rainbow-value: 138.6; }
    38.6% { --rainbow-value: 138.96; }
    38.7% { --rainbow-value: 139.32; }
    38.8% { --rainbow-value: 139.68; }
    38.9% { --rainbow-value: 140.04; }
    39.0% { --rainbow-value: 140.4; }
    39.1% { --rainbow-value: 140.76; }
    39.2% { --rainbow-value: 141.12; }
    39.3% { --rainbow-value: 141.48; }
    39.4% { --rainbow-value: 141.84; }
    39.5% { --rainbow-value: 142.2; }
    39.6% { --rainbow-value: 142.56; }
    39.7% { --rainbow-value: 142.92; }
    39.8% { --rainbow-value: 143.28; }
    39.9% { --rainbow-value: 143.64; }
    40.0% { --rainbow-value: 144.0; }
    40.1% { --rainbow-value: 144.35999999999999; }
    40.2% { --rainbow-value: 144.72; }
    40.3% { --rainbow-value: 145.07999999999998; }
    40.4% { --rainbow-value: 145.44; }
    40.5% { --rainbow-value: 145.79999999999998; }
    40.6% { --rainbow-value: 146.16; }
    40.7% { --rainbow-value: 146.51999999999998; }
    40.8% { --rainbow-value: 146.88; }
    40.9% { --rainbow-value: 147.23999999999998; }
    41.0% { --rainbow-value: 147.6; }
    41.1% { --rainbow-value: 147.96; }
    41.2% { --rainbow-value: 148.32; }
    41.3% { --rainbow-value: 148.68; }
    41.4% { --rainbow-value: 149.04; }
    41.5% { --rainbow-value: 149.4; }
    41.6% { --rainbow-value: 149.76; }
    41.7% { --rainbow-value: 150.12; }
    41.8% { --rainbow-value: 150.48; }
    41.9% { --rainbow-value: 150.84; }
    42.0% { --rainbow-value: 151.2; }
    42.1% { --rainbow-value: 151.56; }
    42.2% { --rainbow-value: 151.92; }
    42.3% { --rainbow-value: 152.28; }
    42.4% { --rainbow-value: 152.64; }
    42.5% { --rainbow-value: 153.0; }
    42.6% { --rainbow-value: 153.35999999999999; }
    42.7% { --rainbow-value: 153.72; }
    42.8% { --rainbow-value: 154.07999999999998; }
    42.9% { --rainbow-value: 154.44; }
    43.0% { --rainbow-value: 154.79999999999998; }
    43.1% { --rainbow-value: 155.16; }
    43.2% { --rainbow-value: 155.51999999999998; }
    43.3% { --rainbow-value: 155.88; }
    43.4% { --rainbow-value: 156.23999999999998; }
    43.5% { --rainbow-value: 156.6; }
    43.6% { --rainbow-value: 156.96; }
    43.7% { --rainbow-value: 157.32; }
    43.8% { --rainbow-value: 157.68; }
    43.9% { --rainbow-value: 158.04; }
    44.0% { --rainbow-value: 158.4; }
    44.1% { --rainbow-value: 158.76; }
    44.2% { --rainbow-value: 159.12; }
    44.3% { --rainbow-value: 159.48; }
    44.4% { --rainbow-value: 159.84; }
    44.5% { --rainbow-value: 160.2; }
    44.6% { --rainbow-value: 160.56; }
    44.7% { --rainbow-value: 160.92; }
    44.8% { --rainbow-value: 161.28; }
    44.9% { --rainbow-value: 161.64; }
    45.0% { --rainbow-value: 162.0; }
    45.1% { --rainbow-value: 162.35999999999999; }
    45.2% { --rainbow-value: 162.72; }
    45.3% { --rainbow-value: 163.07999999999998; }
    45.4% { --rainbow-value: 163.44; }
    45.5% { --rainbow-value: 163.79999999999998; }
    45.6% { --rainbow-value: 164.16; }
    45.7% { --rainbow-value: 164.51999999999998; }
    45.8% { --rainbow-value: 164.88; }
    45.9% { --rainbow-value: 165.23999999999998; }
    46.0% { --rainbow-value: 165.6; }
    46.1% { --rainbow-value: 165.96; }
    46.2% { --rainbow-value: 166.32; }
    46.3% { --rainbow-value: 166.68; }
    46.4% { --rainbow-value: 167.04; }
    46.5% { --rainbow-value: 167.4; }
    46.6% { --rainbow-value: 167.76; }
    46.7% { --rainbow-value: 168.12; }
    46.8% { --rainbow-value: 168.48; }
    46.9% { --rainbow-value: 168.84; }
    47.0% { --rainbow-value: 169.2; }
    47.1% { --rainbow-value: 169.56; }
    47.2% { --rainbow-value: 169.92; }
    47.3% { --rainbow-value: 170.28; }
    47.4% { --rainbow-value: 170.64; }
    47.5% { --rainbow-value: 171.0; }
    47.6% { --rainbow-value: 171.35999999999999; }
    47.7% { --rainbow-value: 171.72; }
    47.8% { --rainbow-value: 172.07999999999998; }
    47.9% { --rainbow-value: 172.44; }
    48.0% { --rainbow-value: 172.79999999999998; }
    48.1% { --rainbow-value: 173.16; }
    48.2% { --rainbow-value: 173.51999999999998; }
    48.3% { --rainbow-value: 173.88; }
    48.4% { --rainbow-value: 174.23999999999998; }
    48.5% { --rainbow-value: 174.6; }
    48.6% { --rainbow-value: 174.95999999999998; }
    48.7% { --rainbow-value: 175.32; }
    48.8% { --rainbow-value: 175.68; }
    48.9% { --rainbow-value: 176.04; }
    49.0% { --rainbow-value: 176.4; }
    49.1% { --rainbow-value: 176.76; }
    49.2% { --rainbow-value: 177.12; }
    49.3% { --rainbow-value: 177.48; }
    49.4% { --rainbow-value: 177.84; }
    49.5% { --rainbow-value: 178.2; }
    49.6% { --rainbow-value: 178.56; }
    49.7% { --rainbow-value: 178.92; }
    49.8% { --rainbow-value: 179.28; }
    49.9% { --rainbow-value: 179.64; }
    50.0% { --rainbow-value: 180.0; }
    50.1% { --rainbow-value: 180.35999999999999; }
    50.2% { --rainbow-value: 180.72; }
    50.3% { --rainbow-value: 181.07999999999998; }
    50.4% { --rainbow-value: 181.44; }
    50.5% { --rainbow-value: 181.79999999999998; }
    50.6% { --rainbow-value: 182.16; }
    50.7% { --rainbow-value: 182.51999999999998; }
    50.8% { --rainbow-value: 182.88; }
    50.9% { --rainbow-value: 183.23999999999998; }
    51.0% { --rainbow-value: 183.6; }
    51.1% { --rainbow-value: 183.95999999999998; }
    51.2% { --rainbow-value: 184.32; }
    51.3% { --rainbow-value: 184.68; }
    51.4% { --rainbow-value: 185.04; }
    51.5% { --rainbow-value: 185.4; }
    51.6% { --rainbow-value: 185.76; }
    51.7% { --rainbow-value: 186.12; }
    51.8% { --rainbow-value: 186.48; }
    51.9% { --rainbow-value: 186.84; }
    52.0% { --rainbow-value: 187.2; }
    52.1% { --rainbow-value: 187.56; }
    52.2% { --rainbow-value: 187.92; }
    52.3% { --rainbow-value: 188.28; }
    52.4% { --rainbow-value: 188.64; }
    52.5% { --rainbow-value: 189.0; }
    52.6% { --rainbow-value: 189.35999999999999; }
    52.7% { --rainbow-value: 189.72; }
    52.8% { --rainbow-value: 190.07999999999998; }
    52.9% { --rainbow-value: 190.44; }
    53.0% { --rainbow-value: 190.79999999999998; }
    53.1% { --rainbow-value: 191.16; }
    53.2% { --rainbow-value: 191.51999999999998; }
    53.3% { --rainbow-value: 191.88; }
    53.4% { --rainbow-value: 192.23999999999998; }
    53.5% { --rainbow-value: 192.6; }
    53.6% { --rainbow-value: 192.95999999999998; }
    53.7% { --rainbow-value: 193.32; }
    53.8% { --rainbow-value: 193.68; }
    53.9% { --rainbow-value: 194.04; }
    54.0% { --rainbow-value: 194.4; }
    54.1% { --rainbow-value: 194.76; }
    54.2% { --rainbow-value: 195.12; }
    54.3% { --rainbow-value: 195.48; }
    54.4% { --rainbow-value: 195.84; }
    54.5% { --rainbow-value: 196.2; }
    54.6% { --rainbow-value: 196.56; }
    54.7% { --rainbow-value: 196.92; }
    54.8% { --rainbow-value: 197.28; }
    54.9% { --rainbow-value: 197.64; }
    55.0% { --rainbow-value: 198.0; }
    55.1% { --rainbow-value: 198.35999999999999; }
    55.2% { --rainbow-value: 198.72; }
    55.3% { --rainbow-value: 199.07999999999998; }
    55.4% { --rainbow-value: 199.44; }
    55.5% { --rainbow-value: 199.79999999999998; }
    55.6% { --rainbow-value: 200.16; }
    55.7% { --rainbow-value: 200.51999999999998; }
    55.8% { --rainbow-value: 200.88; }
    55.9% { --rainbow-value: 201.23999999999998; }
    56.0% { --rainbow-value: 201.6; }
    56.1% { --rainbow-value: 201.95999999999998; }
    56.2% { --rainbow-value: 202.32; }
    56.3% { --rainbow-value: 202.67999999999998; }
    56.4% { --rainbow-value: 203.04; }
    56.5% { --rainbow-value: 203.4; }
    56.6% { --rainbow-value: 203.76; }
    56.7% { --rainbow-value: 204.12; }
    56.8% { --rainbow-value: 204.48; }
    56.9% { --rainbow-value: 204.84; }
    57.0% { --rainbow-value: 205.2; }
    57.1% { --rainbow-value: 205.56; }
    57.2% { --rainbow-value: 205.92; }
    57.3% { --rainbow-value: 206.28; }
    57.4% { --rainbow-value: 206.64; }
    57.5% { --rainbow-value: 207.0; }
    57.6% { --rainbow-value: 207.35999999999999; }
    57.7% { --rainbow-value: 207.72; }
    57.8% { --rainbow-value: 208.07999999999998; }
    57.9% { --rainbow-value: 208.44; }
    58.0% { --rainbow-value: 208.79999999999998; }
    58.1% { --rainbow-value: 209.16; }
    58.2% { --rainbow-value: 209.51999999999998; }
    58.3% { --rainbow-value: 209.88; }
    58.4% { --rainbow-value: 210.23999999999998; }
    58.5% { --rainbow-value: 210.6; }
    58.6% { --rainbow-value: 210.95999999999998; }
    58.7% { --rainbow-value: 211.32; }
    58.8% { --rainbow-value: 211.67999999999998; }
    58.9% { --rainbow-value: 212.04; }
    59.0% { --rainbow-value: 212.4; }
    59.1% { --rainbow-value: 212.76; }
    59.2% { --rainbow-value: 213.12; }
    59.3% { --rainbow-value: 213.48; }
    59.4% { --rainbow-value: 213.84; }
    59.5% { --rainbow-value: 214.2; }
    59.6% { --rainbow-value: 214.56; }
    59.7% { --rainbow-value: 214.92; }
    59.8% { --rainbow-value: 215.28; }
    59.9% { --rainbow-value: 215.64; }
    60.0% { --rainbow-value: 216.0; }
    60.1% { --rainbow-value: 216.35999999999999; }
    60.2% { --rainbow-value: 216.72; }
    60.3% { --rainbow-value: 217.07999999999998; }
    60.4% { --rainbow-value: 217.44; }
    60.5% { --rainbow-value: 217.79999999999998; }
    60.6% { --rainbow-value: 218.16; }
    60.7% { --rainbow-value: 218.51999999999998; }
    60.8% { --rainbow-value: 218.88; }
    60.9% { --rainbow-value: 219.23999999999998; }
    61.0% { --rainbow-value: 219.6; }
    61.1% { --rainbow-value: 219.95999999999998; }
    61.2% { --rainbow-value: 220.32; }
    61.3% { --rainbow-value: 220.67999999999998; }
    61.4% { --rainbow-value: 221.04; }
    61.5% { --rainbow-value: 221.4; }
    61.6% { --rainbow-value: 221.76; }
    61.7% { --rainbow-value: 222.12; }
    61.8% { --rainbow-value: 222.48; }
    61.9% { --rainbow-value: 222.84; }
    62.0% { --rainbow-value: 223.2; }
    62.1% { --rainbow-value: 223.56; }
    62.2% { --rainbow-value: 223.92; }
    62.3% { --rainbow-value: 224.28; }
    62.4% { --rainbow-value: 224.64; }
    62.5% { --rainbow-value: 225.0; }
    62.6% { --rainbow-value: 225.35999999999999; }
    62.7% { --rainbow-value: 225.72; }
    62.8% { --rainbow-value: 226.07999999999998; }
    62.9% { --rainbow-value: 226.44; }
    63.0% { --rainbow-value: 226.79999999999998; }
    63.1% { --rainbow-value: 227.16; }
    63.2% { --rainbow-value: 227.51999999999998; }
    63.3% { --rainbow-value: 227.88; }
    63.4% { --rainbow-value: 228.23999999999998; }
    63.5% { --rainbow-value: 228.6; }
    63.6% { --rainbow-value: 228.95999999999998; }
    63.7% { --rainbow-value: 229.32; }
    63.8% { --rainbow-value: 229.67999999999998; }
    63.9% { --rainbow-value: 230.04; }
    64.0% { --rainbow-value: 230.39999999999998; }
    64.1% { --rainbow-value: 230.76; }
    64.2% { --rainbow-value: 231.12; }
    64.3% { --rainbow-value: 231.48; }
    64.4% { --rainbow-value: 231.84; }
    64.5% { --rainbow-value: 232.2; }
    64.6% { --rainbow-value: 232.56; }
    64.7% { --rainbow-value: 232.92; }
    64.8% { --rainbow-value: 233.28; }
    64.9% { --rainbow-value: 233.64; }
    65.0% { --rainbow-value: 234.0; }
    65.1% { --rainbow-value: 234.35999999999999; }
    65.2% { --rainbow-value: 234.72; }
    65.3% { --rainbow-value: 235.07999999999998; }
    65.4% { --rainbow-value: 235.44; }
    65.5% { --rainbow-value: 235.79999999999998; }
    65.6% { --rainbow-value: 236.16; }
    65.7% { --rainbow-value: 236.51999999999998; }
    65.8% { --rainbow-value: 236.88; }
    65.9% { --rainbow-value: 237.23999999999998; }
    66.0% { --rainbow-value: 237.6; }
    66.1% { --rainbow-value: 237.95999999999998; }
    66.2% { --rainbow-value: 238.32; }
    66.3% { --rainbow-value: 238.67999999999998; }
    66.4% { --rainbow-value: 239.04; }
    66.5% { --rainbow-value: 239.39999999999998; }
    66.6% { --rainbow-value: 239.76; }
    66.7% { --rainbow-value: 240.12; }
    66.8% { --rainbow-value: 240.48; }
    66.9% { --rainbow-value: 240.84; }
    67.0% { --rainbow-value: 241.2; }
    67.1% { --rainbow-value: 241.56; }
    67.2% { --rainbow-value: 241.92; }
    67.3% { --rainbow-value: 242.28; }
    67.4% { --rainbow-value: 242.64; }
    67.5% { --rainbow-value: 243.0; }
    67.6% { --rainbow-value: 243.35999999999999; }
    67.7% { --rainbow-value: 243.72; }
    67.8% { --rainbow-value: 244.07999999999998; }
    67.9% { --rainbow-value: 244.44; }
    68.0% { --rainbow-value: 244.79999999999998; }
    68.1% { --rainbow-value: 245.16; }
    68.2% { --rainbow-value: 245.51999999999998; }
    68.3% { --rainbow-value: 245.88; }
    68.4% { --rainbow-value: 246.23999999999998; }
    68.5% { --rainbow-value: 246.6; }
    68.6% { --rainbow-value: 246.95999999999998; }
    68.7% { --rainbow-value: 247.32; }
    68.8% { --rainbow-value: 247.67999999999998; }
    68.9% { --rainbow-value: 248.04; }
    69.0% { --rainbow-value: 248.39999999999998; }
    69.1% { --rainbow-value: 248.76; }
    69.2% { --rainbow-value: 249.12; }
    69.3% { --rainbow-value: 249.48; }
    69.4% { --rainbow-value: 249.84; }
    69.5% { --rainbow-value: 250.2; }
    69.6% { --rainbow-value: 250.56; }
    69.7% { --rainbow-value: 250.92; }
    69.8% { --rainbow-value: 251.28; }
    69.9% { --rainbow-value: 251.64; }
    70.0% { --rainbow-value: 252.0; }
    70.1% { --rainbow-value: 252.35999999999999; }
    70.2% { --rainbow-value: 252.72; }
    70.3% { --rainbow-value: 253.07999999999998; }
    70.4% { --rainbow-value: 253.44; }
    70.5% { --rainbow-value: 253.79999999999998; }
    70.6% { --rainbow-value: 254.16; }
    70.7% { --rainbow-value: 254.51999999999998; }
    70.8% { --rainbow-value: 254.88; }
    70.9% { --rainbow-value: 255.23999999999998; }
    71.0% { --rainbow-value: 255.6; }
    71.1% { --rainbow-value: 255.95999999999998; }
    71.2% { --rainbow-value: 256.32; }
    71.3% { --rainbow-value: 256.68; }
    71.4% { --rainbow-value: 257.03999999999996; }
    71.5% { --rainbow-value: 257.4; }
    71.6% { --rainbow-value: 257.76; }
    71.7% { --rainbow-value: 258.12; }
    71.8% { --rainbow-value: 258.48; }
    71.9% { --rainbow-value: 258.84; }
    72.0% { --rainbow-value: 259.2; }
    72.1% { --rainbow-value: 259.56; }
    72.2% { --rainbow-value: 259.92; }
    72.3% { --rainbow-value: 260.28; }
    72.4% { --rainbow-value: 260.64; }
    72.5% { --rainbow-value: 261.0; }
    72.6% { --rainbow-value: 261.36; }
    72.7% { --rainbow-value: 261.71999999999997; }
    72.8% { --rainbow-value: 262.08; }
    72.9% { --rainbow-value: 262.44; }
    73.0% { --rainbow-value: 262.8; }
    73.1% { --rainbow-value: 263.15999999999997; }
    73.2% { --rainbow-value: 263.52; }
    73.3% { --rainbow-value: 263.88; }
    73.4% { --rainbow-value: 264.24; }
    73.5% { --rainbow-value: 264.59999999999997; }
    73.6% { --rainbow-value: 264.96; }
    73.7% { --rainbow-value: 265.32; }
    73.8% { --rainbow-value: 265.68; }
    73.9% { --rainbow-value: 266.03999999999996; }
    74.0% { --rainbow-value: 266.4; }
    74.1% { --rainbow-value: 266.76; }
    74.2% { --rainbow-value: 267.12; }
    74.3% { --rainbow-value: 267.48; }
    74.4% { --rainbow-value: 267.84; }
    74.5% { --rainbow-value: 268.2; }
    74.6% { --rainbow-value: 268.56; }
    74.7% { --rainbow-value: 268.92; }
    74.8% { --rainbow-value: 269.28; }
    74.9% { --rainbow-value: 269.64; }
    75.0% { --rainbow-value: 270.0; }
    75.1% { --rainbow-value: 270.36; }
    75.2% { --rainbow-value: 270.71999999999997; }
    75.3% { --rainbow-value: 271.08; }
    75.4% { --rainbow-value: 271.44; }
    75.5% { --rainbow-value: 271.8; }
    75.6% { --rainbow-value: 272.15999999999997; }
    75.7% { --rainbow-value: 272.52; }
    75.8% { --rainbow-value: 272.88; }
    75.9% { --rainbow-value: 273.24; }
    76.0% { --rainbow-value: 273.59999999999997; }
    76.1% { --rainbow-value: 273.96; }
    76.2% { --rainbow-value: 274.32; }
    76.3% { --rainbow-value: 274.68; }
    76.4% { --rainbow-value: 275.03999999999996; }
    76.5% { --rainbow-value: 275.4; }
    76.6% { --rainbow-value: 275.76; }
    76.7% { --rainbow-value: 276.12; }
    76.8% { --rainbow-value: 276.48; }
    76.9% { --rainbow-value: 276.84; }
    77.0% { --rainbow-value: 277.2; }
    77.1% { --rainbow-value: 277.56; }
    77.2% { --rainbow-value: 277.92; }
    77.3% { --rainbow-value: 278.28; }
    77.4% { --rainbow-value: 278.64; }
    77.5% { --rainbow-value: 279.0; }
    77.6% { --rainbow-value: 279.36; }
    77.7% { --rainbow-value: 279.71999999999997; }
    77.8% { --rainbow-value: 280.08; }
    77.9% { --rainbow-value: 280.44; }
    78.0% { --rainbow-value: 280.8; }
    78.1% { --rainbow-value: 281.15999999999997; }
    78.2% { --rainbow-value: 281.52; }
    78.3% { --rainbow-value: 281.88; }
    78.4% { --rainbow-value: 282.24; }
    78.5% { --rainbow-value: 282.59999999999997; }
    78.6% { --rainbow-value: 282.96; }
    78.7% { --rainbow-value: 283.32; }
    78.8% { --rainbow-value: 283.68; }
    78.9% { --rainbow-value: 284.03999999999996; }
    79.0% { --rainbow-value: 284.4; }
    79.1% { --rainbow-value: 284.76; }
    79.2% { --rainbow-value: 285.12; }
    79.3% { --rainbow-value: 285.47999999999996; }
    79.4% { --rainbow-value: 285.84; }
    79.5% { --rainbow-value: 286.2; }
    79.6% { --rainbow-value: 286.56; }
    79.7% { --rainbow-value: 286.92; }
    79.8% { --rainbow-value: 287.28; }
    79.9% { --rainbow-value: 287.64; }
    80.0% { --rainbow-value: 288.0; }
    80.1% { --rainbow-value: 288.36; }
    80.2% { --rainbow-value: 288.71999999999997; }
    80.3% { --rainbow-value: 289.08; }
    80.4% { --rainbow-value: 289.44; }
    80.5% { --rainbow-value: 289.8; }
    80.6% { --rainbow-value: 290.15999999999997; }
    80.7% { --rainbow-value: 290.52; }
    80.8% { --rainbow-value: 290.88; }
    80.9% { --rainbow-value: 291.24; }
    81.0% { --rainbow-value: 291.59999999999997; }
    81.1% { --rainbow-value: 291.96; }
    81.2% { --rainbow-value: 292.32; }
    81.3% { --rainbow-value: 292.68; }
    81.4% { --rainbow-value: 293.03999999999996; }
    81.5% { --rainbow-value: 293.4; }
    81.6% { --rainbow-value: 293.76; }
    81.7% { --rainbow-value: 294.12; }
    81.8% { --rainbow-value: 294.47999999999996; }
    81.9% { --rainbow-value: 294.84; }
    82.0% { --rainbow-value: 295.2; }
    82.1% { --rainbow-value: 295.56; }
    82.2% { --rainbow-value: 295.92; }
    82.3% { --rainbow-value: 296.28; }
    82.4% { --rainbow-value: 296.64; }
    82.5% { --rainbow-value: 297.0; }
    82.6% { --rainbow-value: 297.36; }
    82.7% { --rainbow-value: 297.71999999999997; }
    82.8% { --rainbow-value: 298.08; }
    82.9% { --rainbow-value: 298.44; }
    83.0% { --rainbow-value: 298.8; }
    83.1% { --rainbow-value: 299.15999999999997; }
    83.2% { --rainbow-value: 299.52; }
    83.3% { --rainbow-value: 299.88; }
    83.4% { --rainbow-value: 300.24; }
    83.5% { --rainbow-value: 300.59999999999997; }
    83.6% { --rainbow-value: 300.96; }
    83.7% { --rainbow-value: 301.32; }
    83.8% { --rainbow-value: 301.68; }
    83.9% { --rainbow-value: 302.03999999999996; }
    84.0% { --rainbow-value: 302.4; }
    84.1% { --rainbow-value: 302.76; }
    84.2% { --rainbow-value: 303.12; }
    84.3% { --rainbow-value: 303.47999999999996; }
    84.4% { --rainbow-value: 303.84; }
    84.5% { --rainbow-value: 304.2; }
    84.6% { --rainbow-value: 304.56; }
    84.7% { --rainbow-value: 304.92; }
    84.8% { --rainbow-value: 305.28; }
    84.9% { --rainbow-value: 305.64; }
    85.0% { --rainbow-value: 306.0; }
    85.1% { --rainbow-value: 306.36; }
    85.2% { --rainbow-value: 306.71999999999997; }
    85.3% { --rainbow-value: 307.08; }
    85.4% { --rainbow-value: 307.44; }
    85.5% { --rainbow-value: 307.8; }
    85.6% { --rainbow-value: 308.15999999999997; }
    85.7% { --rainbow-value: 308.52; }
    85.8% { --rainbow-value: 308.88; }
    85.9% { --rainbow-value: 309.24; }
    86.0% { --rainbow-value: 309.59999999999997; }
    86.1% { --rainbow-value: 309.96; }
    86.2% { --rainbow-value: 310.32; }
    86.3% { --rainbow-value: 310.68; }
    86.4% { --rainbow-value: 311.03999999999996; }
    86.5% { --rainbow-value: 311.4; }
    86.6% { --rainbow-value: 311.76; }
    86.7% { --rainbow-value: 312.12; }
    86.8% { --rainbow-value: 312.47999999999996; }
    86.9% { --rainbow-value: 312.84; }
    87.0% { --rainbow-value: 313.2; }
    87.1% { --rainbow-value: 313.56; }
    87.2% { --rainbow-value: 313.92; }
    87.3% { --rainbow-value: 314.28; }
    87.4% { --rainbow-value: 314.64; }
    87.5% { --rainbow-value: 315.0; }
    87.6% { --rainbow-value: 315.36; }
    87.7% { --rainbow-value: 315.71999999999997; }
    87.8% { --rainbow-value: 316.08; }
    87.9% { --rainbow-value: 316.44; }
    88.0% { --rainbow-value: 316.8; }
    88.1% { --rainbow-value: 317.15999999999997; }
    88.2% { --rainbow-value: 317.52; }
    88.3% { --rainbow-value: 317.88; }
    88.4% { --rainbow-value: 318.24; }
    88.5% { --rainbow-value: 318.59999999999997; }
    88.6% { --rainbow-value: 318.96; }
    88.7% { --rainbow-value: 319.32; }
    88.8% { --rainbow-value: 319.68; }
    88.9% { --rainbow-value: 320.03999999999996; }
    89.0% { --rainbow-value: 320.4; }
    89.1% { --rainbow-value: 320.76; }
    89.2% { --rainbow-value: 321.12; }
    89.3% { --rainbow-value: 321.47999999999996; }
    89.4% { --rainbow-value: 321.84; }
    89.5% { --rainbow-value: 322.2; }
    89.6% { --rainbow-value: 322.56; }
    89.7% { --rainbow-value: 322.92; }
    89.8% { --rainbow-value: 323.28; }
    89.9% { --rainbow-value: 323.64; }
    90.0% { --rainbow-value: 324.0; }
    90.1% { --rainbow-value: 324.36; }
    90.2% { --rainbow-value: 324.71999999999997; }
    90.3% { --rainbow-value: 325.08; }
    90.4% { --rainbow-value: 325.44; }
    90.5% { --rainbow-value: 325.8; }
    90.6% { --rainbow-value: 326.15999999999997; }
    90.7% { --rainbow-value: 326.52; }
    90.8% { --rainbow-value: 326.88; }
    90.9% { --rainbow-value: 327.24; }
    91.0% { --rainbow-value: 327.59999999999997; }
    91.1% { --rainbow-value: 327.96; }
    91.2% { --rainbow-value: 328.32; }
    91.3% { --rainbow-value: 328.68; }
    91.4% { --rainbow-value: 329.03999999999996; }
    91.5% { --rainbow-value: 329.4; }
    91.6% { --rainbow-value: 329.76; }
    91.7% { --rainbow-value: 330.12; }
    91.8% { --rainbow-value: 330.47999999999996; }
    91.9% { --rainbow-value: 330.84; }
    92.0% { --rainbow-value: 331.2; }
    92.1% { --rainbow-value: 331.56; }
    92.2% { --rainbow-value: 331.92; }
    92.3% { --rainbow-value: 332.28; }
    92.4% { --rainbow-value: 332.64; }
    92.5% { --rainbow-value: 333.0; }
    92.6% { --rainbow-value: 333.36; }
    92.7% { --rainbow-value: 333.71999999999997; }
    92.8% { --rainbow-value: 334.08; }
    92.9% { --rainbow-value: 334.44; }
    93.0% { --rainbow-value: 334.8; }
    93.1% { --rainbow-value: 335.15999999999997; }
    93.2% { --rainbow-value: 335.52; }
    93.3% { --rainbow-value: 335.88; }
    93.4% { --rainbow-value: 336.24; }
    93.5% { --rainbow-value: 336.59999999999997; }
    93.6% { --rainbow-value: 336.96; }
    93.7% { --rainbow-value: 337.32; }
    93.8% { --rainbow-value: 337.68; }
    93.9% { --rainbow-value: 338.03999999999996; }
    94.0% { --rainbow-value: 338.4; }
    94.1% { --rainbow-value: 338.76; }
    94.2% { --rainbow-value: 339.12; }
    94.3% { --rainbow-value: 339.47999999999996; }
    94.4% { --rainbow-value: 339.84; }
    94.5% { --rainbow-value: 340.2; }
    94.6% { --rainbow-value: 340.56; }
    94.7% { --rainbow-value: 340.91999999999996; }
    94.8% { --rainbow-value: 341.28; }
    94.9% { --rainbow-value: 341.64; }
    95.0% { --rainbow-value: 342.0; }
    95.1% { --rainbow-value: 342.36; }
    95.2% { --rainbow-value: 342.71999999999997; }
    95.3% { --rainbow-value: 343.08; }
    95.4% { --rainbow-value: 343.44; }
    95.5% { --rainbow-value: 343.8; }
    95.6% { --rainbow-value: 344.15999999999997; }
    95.7% { --rainbow-value: 344.52; }
    95.8% { --rainbow-value: 344.88; }
    95.9% { --rainbow-value: 345.24; }
    96.0% { --rainbow-value: 345.59999999999997; }
    96.1% { --rainbow-value: 345.96; }
    96.2% { --rainbow-value: 346.32; }
    96.3% { --rainbow-value: 346.68; }
    96.4% { --rainbow-value: 347.03999999999996; }
    96.5% { --rainbow-value: 347.4; }
    96.6% { --rainbow-value: 347.76; }
    96.7% { --rainbow-value: 348.12; }
    96.8% { --rainbow-value: 348.47999999999996; }
    96.9% { --rainbow-value: 348.84; }
    97.0% { --rainbow-value: 349.2; }
    97.1% { --rainbow-value: 349.56; }
    97.2% { --rainbow-value: 349.91999999999996; }
    97.3% { --rainbow-value: 350.28; }
    97.4% { --rainbow-value: 350.64; }
    97.5% { --rainbow-value: 351.0; }
    97.6% { --rainbow-value: 351.36; }
    97.7% { --rainbow-value: 351.71999999999997; }
    97.8% { --rainbow-value: 352.08; }
    97.9% { --rainbow-value: 352.44; }
    98.0% { --rainbow-value: 352.8; }
    98.1% { --rainbow-value: 353.15999999999997; }
    98.2% { --rainbow-value: 353.52; }
    98.3% { --rainbow-value: 353.88; }
    98.4% { --rainbow-value: 354.24; }
    98.5% { --rainbow-value: 354.59999999999997; }
    98.6% { --rainbow-value: 354.96; }
    98.7% { --rainbow-value: 355.32; }
    98.8% { --rainbow-value: 355.68; }
    98.9% { --rainbow-value: 356.03999999999996; }
    99.0% { --rainbow-value: 356.4; }
    99.1% { --rainbow-value: 356.76; }
    99.2% { --rainbow-value: 357.12; }
    99.3% { --rainbow-value: 357.47999999999996; }
    99.4% { --rainbow-value: 357.84; }
    99.5% { --rainbow-value: 358.2; }
    99.6% { --rainbow-value: 358.56; }
    99.7% { --rainbow-value: 358.91999999999996; }
    99.8% { --rainbow-value: 359.28; }
    99.9% { --rainbow-value: 359.64; }
    100.0% { --rainbow-value: 360.0; }
}