.falling-item {
    position: relative;
    overflow: visible;
    animation: 200ms linear shake;
    box-sizing: content-box;
}

.falling-item-fallen {
    animation: 400ms ease-in fall;
    position: fixed;
    bottom: 0;
}

.falling-item-fallen-inversed {
    filter: grayscale(1) brightness(100);
    animation: 1s ease-in fall-inverse, 100ms linear shake infinite, 10s ease-in glow 600ms;
}

.falling-item:active {
    animation: none;
}

.lang-easter-egg-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    animation: 7s linear lang-easter-egg-overlay;
    background: var(--backgrondColor);
    pointer-events: all;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: not-allowed;

}

.lang-easter-egg-overlay > div {

    animation: 500ms linear fadein 7s;
    animation-fill-mode: both;

}

.lang-easter-respawn {
    width: fit-content;
    padding: 1em 2em;
    height: 4em;
    font-family: "Poppins";
    font-size: 1.3em;
    color: white;
    background: transparent;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 1em;
    letter-spacing: 6px;
    margin-top: 1em;
}

.lang-easter-respawn-hover {

}

@keyframes shake {
    0% {
        left: 0;
    }
    25% {
        left: -10%;
    }
    50% {
        left: 10%;
    }
    75% {
        left: -5%;
    }
    100% {
        left: 0;
    }
}

@keyframes fall {
    0% {
        position: relative;
        top: 0;

    }
    100% {
        position: relative;
        top: 800%;
    }
}

@keyframes fall-inverse {
    0% {
        position: relative;
        top: 800%;
    }
    100% {
        position: relative;
        top: 0;

    }
}

@keyframes glow {
    0% {

        filter: grayscale(0) brightness(1);
    }
    100% {
        filter: grayscale(1) brightness(100);

    }
}

@keyframes lang-easter-egg-overlay {
    0% {
        background: transparent;
        cursor: pointer;
    }
    70% {
        background: white;
    }
    95% {
        background: white;
    }
    100% {
        background: var(--backgrondColor);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
