:root {
    /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/

    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --topNavHeight: 7.75rem;
    --topNavHeightStickied: 4rem;

    --backgrondColor: #171717;

    --max-width: 1600px
}

@media only screen and (max-width: 1150px) {
    :root {
        font-size: .85rem;
    }
}


* {
    overflow: visible;
}

#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

a:hover {
    color: #535bf2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--backgrondColor);

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


.fillSpace {
    width: 100%;
    height: 100%;
}

.topnavSpacePadding {
    padding-top: var(--topNavHeight);
}

.fillViewport {
    width: 100vw;
    height: 100vh;
}

.vCarousell {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.vCarousell > * {
    scroll-snap-align: start;
}

.topnav {
    position: sticky;
    top: -1px;
    display: flex;
    padding: 0 2rem;
    height: var(--topNavHeight);
    z-index: 100;
    transition: all 400ms ease;
    align-items: center;
}


.topnav-stickied {
    height: var(--topNavHeightStickied);
    background: #1a1a1a;
    border-bottom: #333 solid 1px;
}

#topnav-title a {
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 0.156rem;
    transition: all 400ms ease;
    cursor: pointer;
    color: white;

}

.topnav-stickied #topnav-title a {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.25rem;

}

li {
    height: 100%;
    display: flex;
}


#topnav-links {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: min(8rem, 9vw);
    gap: 3rem;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.063rem;
    transition: all ease 1s;
    flex-grow: 0;
    list-style: none;
    justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    #topnav-links {
        flex-direction: column;
        position: absolute;
        right: 0;
    }

    #topnav-socials{
        margin-right: 64rem;
    }
}


#topnav-socials {
    display: flex;
    margin: 0;

    flex-grow: 1;
    justify-content: flex-end;
    padding: 0;
    height: 100%;
    width: fit-content;
    list-style: none;
    align-items: center;
    transition: all ease 1s;
}

.topnav-stickied #topnav-links {
    gap: 1.5rem;
    flex-grow: 1;

}


.topnav-stickied #topnav-socials {
    margin-left: 4rem;
    flex-grow: 0;
}

#topnav-socials a {
    aspect-ratio: 1;
    height: 3rem;
    transition: all ease 1s;
    margin: auto;
}

.topnav-stickied #topnav-socials a {
    height: 2rem;
}


#topnav-links a {

    color: #aaa;
    font-weight: 600;
    transition: all ease 400ms;
    letter-spacing: 0.125rem;
    margin: auto;
}


#topnav-links a:hover {
    color: #fff;
}

.topnav-stickied #topnav-links a {
    letter-spacing: 0.063rem;
    font-size: 0.875rem;

}

.centerItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background: var(--backgrondColor);
}

.topShadow {
    filter: drop-shadow(0 -0.125rem 3rem rgba(0, 0, 0, 80%));
}

main {
    height: fit-content;
}

::-webkit-scrollbar {
    width: 0.375rem;
}

::-webkit-scrollbar-track {
    background: var(--backgrondColor);
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/*A wrapper so that we can center things and set max width so that things that are aligned to left or right are not too far apart*/
.content-maxwidth-center-wrapper {
    display: flex;
    width: min(var(--max-width), 100%);
    height: 100%;
    align-items: inherit;
    justify-content: inherit;
    margin-left: auto;
    margin-right: auto;

}

.flex-col {
    display: flex;
    flex-direction: column;
}

p a{
    font-weight: 600;
    color: white;
    transition: all ease 1s;
    cursor: pointer;
}
p a:hover{
    text-decoration: underline;
    color: white;
}

.child-wrapper {
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
    background: transparent ;
}
