.underConstruction{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins";


}

.underConstruction > h1{
    letter-spacing: 1.6px;
    font-size: 32px;
}

.underConstruction-svg{
    width: 300px;

    aspect-ratio: 1;
}

