.underConstruction {
    --rx: 0px;
    --ry: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins";
    background: radial-gradient(circle at var(--rx) var(--ry) , var(--radialColor), transparent 50%);
    pointer-events: all;
}

.underConstruction > h1{
    letter-spacing: 1.6px;
    font-size: 32px;
}
.underConstruction > *{
    pointer-events: none;
}

.underConstruction-svg{
    width: 300px;

    aspect-ratio: 1;
}

