*{
    box-sizing: border-box;
    overflow: clip;
}


html{


}

body{
    margin: 0;

    color: white;

}

#app{
    height: 100vh;

}

button{
    cursor: pointer;
}
pre{
   font-family: monospace;
}
