@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --bg-0: #1a1a1a;
    --bg-0-5: #1f1f1f;
    --bg-1: #232323;
    --bg-2: #333;
    --bg-3: #646464;
    --txt-p: #eee;
    --txt-a: #ffffff;
    --txt-h: #fff;
    --txt-a-tinted: #e5e5e5;
    --accent: #ff0f6b;
    --line: #2a2a2a;
    --txt-warn: #ffe56e;
    --txt-danger: #ff6368;
    --overlay: rgba(255, 255, 255, 0.07);
    @media only screen and (max-width: 700px) {
        font-size: 0.85rem;
    }

    @media only screen and (max-width: 620px) {
        font-size: 0.8rem;
    }

    @media only screen and (max-width: 520px) {
        font-size: 0.7rem;
    }
    @media only screen and (max-width: 420px) {
        font-size: 0.6rem;
    }
    @media only screen and (max-width: 400px) {
        font-size: 0.5rem;
    }

    /// Used for .parent_hover-underline
    --underline-mult: 1

}


body {
    background: var(--bg-0);
    font-family: 'Open sans', sans-serif;
    color: var(--txt-p);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--txt-h);
    margin: 1rem;
}

p {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.01rem;
    color: var(--txt-p);
}

a {
    --active-color: var(--accent);
    --passive-color: var(--txt-a);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85em;
    color: var(--txt-a);
    transition: color 200ms ease;
    cursor: pointer;

    background-size: 200% 100%;
    background-position-x: 100%;
    background-image: linear-gradient(90deg, var(--active-color) 50%, var(--passive-color) 50%);
    background-clip: text;
    -webkit-background-clip: text;
}

a:not(.no-deco)::after {
    content: "⭧";
    font-weight: 300;
}


a:not(.no-hover):hover {
    //color: var(--accent);
    color: transparent;
    background-position-x: 0;
    transition: background-position 300ms ease;
}

hr {
    border: none;
    height: 2px;
    background: repeating-linear-gradient(90deg, var(--bg-2) 0rem, var(--bg-2) 0.75rem, transparent 0.75rem, transparent 1rem);
    margin: 2rem 0;
}

::-webkit-scrollbar {

    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--bg-2);
    transition: background-color 200ms ease;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 1rem;
    background: var(--accent);
}

/// Adds a accent underline to the element if the parent element is hovered hover.
/// Example:
/// <a @click="push()">
/// <Icon v-if="!noicon" icon="vaadin:hash" :inline="true" class="icon"/>
/// <div class="parent_hover-underline">
/// <slot>
///
/// </slot>
/// </div>
/// </a>
///
/// Use the --underline-mult css variable to control how thick the line is. (height: calc(0.25rem * var(--underline-mult));)
/// Add additional .add-align class if the element does not look right (too high not centered)
.parent_hover-underline {
    --line-thick: calc(2px * var(--underline-mult));
    --line-offset: 4px;
    --_unit_h-offset: calc(var(--line-thick) + var(--line-offset));
    height: calc(2 * var(--_unit_h-offset) + 1em);

    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: visible;

    &.add-align {
        //margin-top: calc(var(--line-offset) / 4);
    }

    & > * {
        margin: 0;
    }

    &::after {
        overflow: visible;
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: calc(var(--_unit_h-offset) - var(--line-offset));

        height: calc(var(--line-thick));
        width: 0;
        transition: width 150ms ease;
        background: var(--accent);

    }
}


*:hover > .parent_hover-underline::after {
    left: 0;
    right: auto;
    width: 100%;
}

/// Stops default hover effects
.no-hover {
}

/// Removes all text decorations and resets fontsize to 1em
.no-deco {
    text-decoration: none;
    font-size: 1em;
}

/// Removes all vertical margin
.no-vmar {
    margin-top: 0;
    margin-bottom: 0;
}


/// Parallax effect for iratio
.iratio-parallax {
    transition: transform 1s cubic-bezier(0.09, 0.81, 0.29, 1.04);
    transform: translateY(calc(var(--iratio) * -500px + 470px));
}

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.sticky {
    position: sticky;
    top: 0.75rem;

}

/// Inherit color
.color-inherit, .txt-inherit {
    color: inherit;
}

/// Inherit font weight
.weight-inherit, .font-inherit, .txt-inherit {
    font-weight: inherit;
}

/// Inherit font size
.size-inherit, .font-inherit, .txt-inherit {
    font-size: inherit;
}

/// Refers to items such as the topnav floating bars things, section title when stuck
/// This adds drop shadow to such things
[stuck] .floater-shadow {
    filter: drop-shadow(1px 1px 2px var(--bg-0-5));
    backdrop-filter: blur(24px) brightness(1.1) contrast(0.9);
}

.fadein {
    animation: fadein 1s linear;
    opacity: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.text-warn {
    font-weight: 600;
    font-family: "Poppins", serif;
    letter-spacing: 0.5px;
    color: var(--txt-warn);
}

.text-danger {
    font-weight: 600;
    font-family: "Poppins", serif;
    letter-spacing: 0.5px;
    color: var(--txt-danger);
}

sub {
    margin: 0;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    font-weight: 700;
    color: var(--bg-3);
}

.badge, ul.badges > li {
    --color: var(--bg-2);
    --b-color: color-mix(in srgb, var(--color), white 20%);
    background: var(--color);
    padding: .2rem .35rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "JetBrains Mono", monospace;
    border-radius: .5rem;
    border: 1px solid var(--b-color);
    display: flex;
    align-items: center;
    height: 100%;

}

.featured-badge {
    --color: #f3e185 !important;
    color: black !important;;
}